*{
     font-family: helvetica;
    margin: 0;
    padding: 0;
}

.image {
    padding-top: 25px;
    padding-bottom: 20px;
}

.col-6.contact {
    padding-top: 40px;
    margin-bottom: 0%;
}

#contact1 {
    color: #58585A;
    text-align: right;
    font-size: 21px;
    margin-bottom: 0px;
}

table.contact2 {
    float: right;
    margin-top: 0%;
    padding-right: 0px;
    color: #808080;
}

.navbar {
    background-color: #0093dd !important;
    font-size: 17px !important;
    font-weight: bold !important;
    color: black !important;
}

.navbar-nav {
    padding-left: 109px !important;
}

#adminBtn {
    margin-right: 111px !important;
    color: #fff;
}

.login {
    background-color: #EFEEEC !important;
    font-weight: bolder;
    height: auto;
    padding-top: 90px;
    padding-left: auto;
    text-align: center;
    display: block;
}

.admin {
    font-size: 25px;
}

/*------------------SLider------------*/
#slider {
    width: 100%;
}

.carousel-caltion {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h5{
    color: #fff;
    font-size: 42px;
}
.carousel-caption p{
    font-weight: 600;
    font-size: 45px;
}
/*-----------Visi dan Misi-------*/
#visimisi{
    padding-top: 50px;
    padding-bottom: 50px;
}

#visimisi h2{
    text-align: center;
    color: #555 !important;
    padding-top: 10px;
}
#visimisi h2::after { 
    content: '';
    background: black;
    display: block;
    height: 5px;
    width: 170px;
    margin: 20px auto 5px;
}
#visimisi .visi{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
.about-content {
    padding-top: 20px;
}

/*---------jurusan------*/

#services {
    background-image: linear-gradient(rgba(0,0,0,0.8), 
        rgba(0,0,0,0.8)),url(../images/batubata.jpg);
    background-size: cover;
    background-position: center;
    color: #ffff!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;   
}

#services h2 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 5px;
}
/*css garis di bawah tulisan atau judul*/
#services h2::after { 
    content: '';
    background: #efefef;
    display: block;
    height: 4px;
    width: 170px;
    margin: 20px auto 5px;
}

.services {
    margin-top: 40px;
}
/*mengatur ada lingkaran di samping icon sama memper besar icon*/
.icon {
    font-size: 35px; /* <- besar kecil gambar*/
    margin: 20px auto;
    padding: 20px;
    height: 90px;
    width: 90px;
    border: solid  1px #fff;
    border-radius: 50%; 
}
#services p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
/*mengatur munculnya warna saat cursor di aarahkan ke icon jurusan
setiap spasi setelah ":" berpengaruh*/
.services .col-md-4:hover {
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}
