*{
     font-family: helvetica;
    margin: 0;
    padding: 0;
}

.image {
    padding-top: 25px;
    padding-bottom: 20px;
}

.col-6.contact {
    padding-top: 40px;
    margin-bottom: 0%;
}

#contact1 {
    color: #58585A;
    text-align: right;
    font-size: 21px;
    margin-bottom: 0px;
}

table.contact2 {
    float: right;
    margin-top: 0%;
    padding-right: 0px;
    color: #808080;
}

.navbar {
    background-color: #0093dd !important;
    font-size: 17px !important;
    font-weight: bold !important;
    color: black !important;
}

.navbar-nav {
    padding-left: 109px !important;
}

#adminBtn {
    margin-right: 111px !important;
    color: #fff;
}

.login {
    background-color: #EFEEEC !important;
    font-weight: bolder;
    height: auto;
    padding-top: 90px;
    padding-left: auto;
    text-align: center;
    display: block;
}

.admin {
    font-size: 25px;
}

/*------------------SLider------------*/
#slider {
    width: 100%;
}

.carousel-caltion {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h5{
    color: #fff;
    font-size: 42px;
}
.carousel-caption p{
    font-weight: 600;
    font-size: 45px;
}
/*-----------Visi dan Misi-------*/
#visimisi{
    padding-top: 50px;
    padding-bottom: 50px;
}

#visimisi h2{
    text-align: center;
    color: #555 !important;
    padding-top: 10px;
}
#visimisi h2::after { 
    content: '';
    background: black;
    display: block;
    height: 5px;
    width: 170px;
    margin: 20px auto 5px;
}
#visimisi .visi{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
.about-content {
    padding-top: 20px;
}

/*---------jurusan------*/

#services {
    background-image: linear-gradient(rgba(0,0,0,0.8), 
        rgba(0,0,0,0.8)),url(../images/batubata.jpg);
    background-size: cover;
    background-position: center;
    color: #ffff!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;   
}

#services h2 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 5px;
}
/*css garis di bawah tulisan atau judul*/
#services h2::after { 
    content: '';
    background: #efefef;
    display: block;
    height: 4px;
    width: 170px;
    margin: 20px auto 5px;
}

.services {
    margin-top: 40px;
}
/*mengatur ada lingkaran di samping icon sama memper besar icon*/
.icon {
    font-size: 35px; /* <- besar kecil gambar*/
    margin: 20px auto;
    padding: 20px;
    height: 90px;
    width: 90px;
    border: solid  3px #fff; /* <- mengatur ketebalan lingkaran*/
    border-radius: 50%; 
}
#services h3{
    color: #fff !important;
}
#services p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
/*mengatur munculnya warna saat cursor di aarahkan ke icon jurusan
setiap spasi setelah ":" berpengaruh*/
.services .col-md-4:hover {
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

/*----------- price plans-----*/
#price2 {
    padding: 40px 0 ;
    background: #efefef;
}

#price2 h2::after {
    content: '';
    background: #007bff; /*warna biru*/
    display: block;
    height: 4px;
    width: 400px;/* mengatur panjang garis di bawah judul*/
    margin: 20px auto 5px; 
}
.single-price {
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
/*memunculkan bentuk kotak
saat kursor di arahkan*/
.single-price:hover {
    box-shadow: 0 2px 20px #333;
}
/*backgroun warna biru 
pada tulisan judul harga*/
#price2 .price-head {
    background-color: green;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price-head h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;  
}


.price-head p {
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}

#price2 span {
    font-size: 15px;
}

.price-content {
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li {
    border-bottom:  1px solid #efefef; /*memberi efek garis*/
    padding: 15px 10px; /*jarak tulisan*/
    list-style: none; /*untuk menghilangkan tanda titik pada <li></li>*/
}

ul li:last-child {
    border: none; /*menghilangkan efek garis di akhir bawah tulisan saja*/  
}
/* css untuk mengatur icon checklist centang */
.fa-check-circle {
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
/* css untuk mengatur icon checklist silang */
.fa-times-circle {
    color: red;
    margin-right: 10px;
    font-size: 20px; 
}
/*mengatur tombol*/
.price-button {
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
/*backround button berbentuk tombol*/
#price2 .buy-btn {
    background-color: #27ae60;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
/*saat cursor mengarah pada button,
button berubah warna*/
#price2 .buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: green;
}
/*css agar tulisan pada button
berwarna, tidak tertutup warna border*/
a{
    text-decoration: none !important; 
    color: #fff !important;
}
/*---------------Footer------------*/
#footer {
    background: #333;
    color: #fff;
    padding: 12px;
}

.fa-heart-o {
    margin: 3px;
    color: red;
}


